@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary: #e9edf2;

body {
  background-color: #e9edf2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
h3 {
  font-size: 14px;
}

